@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #009688;
  --color-secondary: #059669;
  /* --color-primary: #0b2f9f;
  --color-secondary: #00809d; */
  --color-info-border: #c2c2c2;
  --background-image-brand-gradient: linear-gradient(135deg, #009688, #059669);
  /* --background-image-brand-gradient: linear-gradient(135deg, #0b2f9f, #00809d); */
  --text-xs: 12.5px;
  --text-sm: 14.5px;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

.color-span-g {
  @apply bg-gradient-to-r from-[#009688] to-[#059669] bg-clip-text text-transparent;
}

.badge-span-g {
  @apply inline-block px-3 py-1 rounded-full border border-teal-300 bg-teal-200/60 text-[#009688] text-[10px] sm:text-[12] font-black uppercase tracking-widest;
}
